$black-color: #1a1a1a;
$white-color: #ffffff;

.btn {
  font-family: var(--Lexend-font);
  font-size: 14px;
  line-height: 17px;
  min-width: 121px;
  height: 38px;
  font-size: 1.4rem;
  line-height: 1.7rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.season {
  $width-season: 580px;
  $height-season: 418px;
  margin-bottom: 120px;

  .season__box-flex {
    width: 712px;
    height: 418px;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 47%;
    padding: 0;
    margin-top: 20px;
    margin-left: 20px;
  }

  &__box-first {
    padding: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(96, 136, 130, 1) 0%,
      rgba(143, 233, 233, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    .box-first__content {
      margin-left: 100px;
      margin-top: 80px;
      font-family: var(--Lexend-font);
      position: absolute;
      top: 0;
      z-index: 0;
      color: var(--white-color);

      .first-content__title {
        font-size: 14px;
        line-height: 17px;
        position: relative;
      }

      .first-content__title::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 1px;
        top: 1.3rem;
        left: 95px;
        cursor: text;
        background-color: var(--white-color);
      }

      .first-content__heading {
        margin-top: 8px;
        font-weight: 600;
      }

      .first-content__heading1 {
        line-height: 65px;
        font-size: 52px;
        margin-bottom: 8px;
      }

      .first-content__heading2 {
        margin-left: 100px;
        line-height: 65px;
        font-size: 52px;
      }
    }

    .btn--white {
      background-color: var(--white-color);
      color: var(--black-color);
      margin-top: 5.6rem;
    }

    .box-first__img {
      background-image: url(../img/season/1.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      width: $width-season;
      height: $height-season;
    }
  }

  &__box-second {
    position: relative;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(46, 86, 99, 1) 0%,
      rgba(143, 233, 233, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    .box-second__content {
      margin-left: 100px;
      margin-top: 80px;
      font-family: var(--Lexend-font);
      position: absolute;
      top: 0;
      z-index: 0;
      color: var(--white-color);

      .second-content__title {
        font-size: 14px;
        line-height: 17px;
        position: relative;
      }

      .second-content__title::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 1px;
        top: 12px;
        left: 55px;
        cursor: text;
        background-color: var(--white-color);
      }

      .second-content__heading {
        margin-top: 8px;
        font-weight: 600;
      }

      .second-content__heading1 {
        line-height: 65px;
        font-size: 52px;
        margin-bottom: 8px;
      }

      .second-content__heading2 {
        margin-left: 100px;
        line-height: 65px;
        font-size: 52px;
      }
    }

    .btn--white {
      background-color: var(--white-color);
      color: var(--black-color);
      margin-top: 5.6rem;
    }

    .box-second__img {
      background-image: url(../img/season/2.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      width: $width-season;
      height: $height-season;
    }
  }

  .season-box__video {
    background-image: url(../img/season/3.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 712px;
    height: $height-season;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-video__link:hover {
      cursor: pointer;
    }

    .box-video__icon {
      color: var(--white-color);
      justify-content: center;
      position: relative;

      .icon__rectangle {
        position: absolute;
        top: 30%;
        left: 40%;
      }
    }
  }

  .season-box__text {
    .box-text__heading {
      font-family: var(--Lexend-font);
      font-style: normal;
      font-weight: 600;
      margin-top: 60px;
      margin-left: 120px;
      color: $black-color;

      .text__heading1 {
        font-size: 52px;
        line-height: 65px;
      }

      .text__heading2 {
        font-size: 52px;
        line-height: 65px;
      }
    }

    .box-text__desc {
      font-family: var(--Lexend-font);
      display: block;
      margin-top: 24px;
      margin-left: 120px;
      max-width: 377px;
      font-size: 14px;
      line-height: 17px;
    }

    .btn--black {
      margin-left: 120px;
      background-color: var(--black-color);
      color: var(--white-color);
      margin-top: 5.6rem;
    }
  }
}

// Subscribe

.subscribe {
  height: 236px;

  .subscribe__content {
    display: flex;
    .subscribe__text {
      font-family: var(--Lexend-font);
      color: $black-color;
      display: inline-block;
      margin-top: 80px;
    }

    .subscribe-text__title {
      font-size: 14px;
      line-height: 17px;
      position: relative;
    }

    .subscribe-text__title::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 1px;
      top: 13px;
      left: 95px;
      cursor: text;
      background-color: var(--black-color);
    }

    .subscribe-text__heading {
      font-weight: 600;
      font-size: 40px;
      line-height: 50px;
      margin-top: 10px;
    }

    .subscribe-form {
      display: flex;
      align-items: center;
      margin-left: 105px;

      & input {
        width: 480px;
        height: 38px;
        border: 1px solid #9a9a9a;
        background: #ffffff;
        font-family: var(--Lexend-font);
      }
      & input::placeholder {
        font-size: 1.4rem;
        padding-left: 10px;
        font-family: var(--Lexend-font);
        line-height: 17rem;
      }
    }

    .subscribe__btn {
      min-width: 125px;
      background-color: $black-color;
      color: $white-color;
    }
  }
}

// Footer

.footer {
  background-color: $black-color;

  .footer__title {
    margin-top: 80px;
    .title__link {
      text-decoration: none;
      color: $white-color;
      cursor: pointer;
    }

    .title__name {
      font-family: Germania One;
      font-size: 43px;
      line-height: 50px;
    }
  }

  .footer__list {
    color: $white-color;
    list-style-type: none;
    font-family: var(--Lexend-font);
    margin-top: 60px;
    margin-bottom: 80px;
    position: relative;
  }

  .list__title {
    margin-bottom: 36px;
    position: relative;
  }

  .list__title::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80px;
    background-color: $white-color;
    top: 24px;
    left: 0px;
  }

  .footer__item {
    font-size: 14px;
    & a {
      text-decoration: none;
      cursor: pointer;
      color: $white-color;
    }
  }

  .about__list {
    .about__item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  .no-name__list {
    margin-top: 135px;
    list-style-type: none;
    font-family: var(--Lexend-font);
    .no-name__item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      & a {
        text-decoration: none;
        color: $white-color;
        line-height: 17px;
      }
    }
  }

  .store__list {
    .store__item {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    .store-item__address {
      max-width: 160px;
      line-height: 17px;
    }
  }

  .we-accept__list {
    .we-accept__item {
      .card__icon {
        margin-right: 15px;
        line-height: 17px;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  .social {
    .social__list-item {
      display: flex;
      justify-content: space-between;
      .social-item__icon {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  .footer__copyright {
    margin-bottom: 20px;
    border-top: 1px solid $white-color;
    padding: 0;
    height: 45px;
    font-family: var(--Lexend-font);

    .footer__copyright-text {
      margin-top: 20px;
      font-size: 12px;
      line-height: 17px;
      color: var(--white-color);
    }
  }
}
